<% if @notes.previous_page %>
  <li class="prev"><%= link_to "Prev", params.merge(page: @notes.previous_page), :class => 'def' %></li>
<% else %>
  <li class="prev disabled"><%= link_to_unless_current "", params.merge(page: @notes.previous_page), :class => 'def disable' %></li>
<% end %>
<li class="page-num" style="color: #333">Page <%= @notes.current_page %></li>
<% if @notes.next_page %>
  <li class="next"><%= link_to "Next", params.merge(page: @notes.next_page), :class => "next_page" %></li>
<% else %>
  <li class="next disabled"><%= link_to_unless_current "", params.merge(page: @notes.previous_page), :class => 'def disable' %></li>
<% end %>
