<div id="content_wrapper">
 <div id="active_admin_content">
        <div id="form-box">
    <h2>Resend confirmation instructions</h2>




<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
<fieldset>
  <ol>
  <p><br />
  </p>

  <li><%= f.label :email %>
  <%= f.email_field :email %></li>

  <li><%= f.submit "Resend confirmation instructions", :class => "button" %></li>
  </ol>
</fieldset>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
  </div>
  </div>