<div id="content_wrapper">
 <div id="active_admin_content">
        <div id="form-box">

     <h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
<fieldset>
  <ol>
  <li>
    <%= f.label :password, "New password" %>
  <%= f.password_field :password %></li>

  <li><%= f.label :password_confirmation, "Confirm new password" %>
  <%= f.password_field :password_confirmation %></li>

  <li><%= f.submit "Change my password", :class => "button" %></li>
</ol>
</fieldset>

<% end %>

<%= render :partial => "devise/shared/links" %>
  </div>
</div>
  </div>


