<h1>Listing payment_addresses</h1>

<table>
  <tr>
    <th>User</th>
    <th>Address</th>
    <th>State</th>
    <th>Country</th>
    <th>Zip</th>
    <th>Phone number</th>
    <th>Alternate phone number</th>
    <th>Verified</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payment_addresses.each do |payment_address| %>
  <tr>
    <td><%= payment_address.user %></td>
    <td><%= payment_address.address %></td>
    <td><%= payment_address.state %></td>
    <td><%= payment_address.country %></td>
    <td><%= payment_address.zip %></td>
    <td><%= payment_address.phone_number %></td>
    <td><%= payment_address.alternate_phone_number %></td>
    <td><%= payment_address.verified %></td>
    <td><%= link_to 'Show', payment_address %></td>
    <td><%= link_to 'Edit', edit_payment_address_path(payment_address) %></td>
    <td><%= link_to 'Destroy', payment_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment address', new_payment_address_path %>
