<% title "Sign Up", false %>
<div class="block-a">
  <div class="page-header">
    <h2>
      <em>Join KokoSpot today:</em> Sign up
    </h2>
  </div>
 <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field"><%= f.label :username %><br />
  <%= f.text_field :username, "style" => "width: 303px;" %></div>

  <div class="field"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

<% if @user.password_required? %>
  <div class="field"><%= f.label :password %><br />
  <%= f.password_field :password %></div>


  <div class="field"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
<% end %>
  <div class="field"><%= f.submit "Sign up", :class => "button" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>


