<%= provide :title, "Music Videos"%>
<%= provide(:right_nav) do %>
    <% if @user %>
        <%= render "thumbnail_medium", :user => @user %>
    <% else %>
        <% if current_user %>
            <%= render "thumbnail_medium", :user => current_user %>
        <% else %>
            <%= render "not_member" %>
        <% end %>
    <% end %>
    <hr>
    <%= render "right_nav" %>
<% end %>
<div class="page-header" style="margin-top: 0;">
  <h4>
    <% if @user %>
        <i class="icon-music"></i> <%= t("user.user_videos", :name => @user.name.humanize) %>
        <%= render "send_message_link", :user => @user %>
    <% else %>
        <i class="icon-film icon-box"></i> <%= t("videos_hypejamz") %>
        <span class="right">
      <%= form_tag  videos_search_box_path, :method => 'get', :class => "navbar-search"  do %>
      <%= text_field_tag :v, @v, :placeholder => "search for videos", :class => "search-query span3" %>
  <% end %>
    </span>
        <div class="clear"></div>
    <% end %>
  </h4>
</div>
<% if @user %>
    <%= render "profile_links", :user => @user %>
<% end %>
<div id="songs">
  <% if @videos.empty? %>
      <p class="alert alert-warning"><%= t("video.no_videos_uploaded_yet") %></p>
  <% else %>
      <%= render @videos %>
  <% end %>
</div>





