<%= form_for(@song) do |f| %>
    <% if @song.errors.any? %>
        <div class="alert alert-error">
          <h4 class="maroon"><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h4>

          <ul>
            <% @song.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.hidden_field :user_id %>
 <div class="">
   <div>
     <%= f.text_field :title, :placeholder => "Title", :class => "more-width" %>
   </div>
   <div>
     <%= f.text_field :album, :placeholder => "Album", :class => "more-width" %>
   </div>
   <div>
     <%= f.text_area :description, :rows => 3, :placeholder => "description", :class => "more-width"  %>
   </div>
   <div class="alert alert-info">
     <% if can? :sell_songs, Song %>
         <div class="field">
           <p>Select the price of your song if you want people to pay before download else leave blank for free download. Note that all payments are done with the help of Hjc(<b>Hypejamz credit</b>). <b><%= link_to "Learn more about hjc", learn_more_path, :class => "btn" %></b></p> <br/>
           <%= f.select :price, [['Price', nil], ['hjc 2 ', '2'], ['hjc 10', '10'], ['hjc 20', '20'], ['hjc 30', '30'], ['hjc 55', '55'], ['hjc 70', '70'], ['hjc 75', '75'], ['hjc 100', '100']], :placeholder => "Price" %>
         </div>
     <% else %>
         <h4 style="color: inherit;">Sell your Song(s) now on HypeJamZ:</h4>
         <p>Upgrade to the new hypejamz account to sell your song(s). To upgrade to the new hypejamz premium or gold account, contact our 24hrs customer care center at +2348100990852 so that we can verify you as the real owner of this account and song(s) in which songs sales service will be made available for you. Note that songs are purchased on hypejamz through hypejamz credit(hjc) <%= link_to "learn more about hjc", learn_more_path, :class => "btn" %></p>
     <% end %>
   </div>

   <div class="upload-field">
     <%= f.label :art, "Upload Album art(Ex: .jpeg .png .gif)" %>
     <%= f.file_field :art %>
   </div>
   <% if current_user.admin? %>
       <li>
         <%= f.label :approve %>
         <%= f.check_box :approve %>
       </li>

   <% end %>
   <% if @song.new_record? %>
       <li>
         <%= f.label :mp3, "Upload Song(mp3 only)" %>
         <%= f.file_field :mp3 %>
       </li>
   <% end %>
   <div class="actions">
     <%= f.submit @song.new_record? ? "Upload Song" : "Update Song", :class => "btn", :onclick => "$('.loader').show()" %>
     <span class="loader" style="display: none; float: right; color: #fff"  >Uploading it might take a wile depending on your network please wait.......</span>
   </div>
 </div>

<% end %>
