<%= div_for album do %>
    <% if can? :destroy, album %>
        <%= link_to image_tag("x.png", :title => "delete song", :class => "wes close-player"), album, method: :delete, :confirm => "Are you sure" %>
        <%= link_to image_tag("writing.png", :title => "edit song", :class => "wes close-player top-s"), edit_song_path(album) %>
    <% end %>
    <a href="<%= url_for album%>" class="albumcontainer transition_border image-big"><%= image_tag album.album_art(:small), :class => "album-art thumb" %>
    </a>
    <ul class="song-description">
      <li><%= link_to truncate(album.name.capitalize, :length => 17), album, :class => "white wes", :title => album.name %></li>
      <li class="small-name">
        <%= image_tag("comment_alt1_fill_8x8.png", :class => "wes", :title => pluralize(album.comments_count, "Comment"))%> <%= format_number(album.comments_count) %> &bull;
        <%= image_tag("document_fill_8x8.png", :class => "wes", :title => pluralize(album.download_count, "Download"))%> <%= format_number(album.download_count) %></li>
      <li>Artist: <%= link_to_unless_current album.user.name.humanize, user_profile_path(album.user) %></li>
      <li>
        <% if album.for_sale? %>
            <%= link_to "#{album.price} hypehamz credit", learn_more_path%>
        <% else %>
            <%= link_to "0 hypehamz credit", learn_more_path%>
        <% end %>
      </li>


      <li>
        <%= link_to(download_album_path(album)) do %>
            <span class="btn btn-small"><i class="icon-download"></i> download</span>

        <% end  %>
      </li>



    </ul>
    <%#= link_to "Add Album Art", edit_song_path(song, :album_art => song.id) %>
<% end %>
