<%= provide :head do %>
<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<% end %>

<div class="story-block">
<div class="story-heading">
   <h1>Editing this story</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', @story %> |
<%= link_to 'Back', stories_path %>
</div>